### Entrainement des modèles

In [ ]:
import pandas as pd 
import numpy as np
import streamlit as st 
import seaborn as sns 
import matplotlib.pyplot as plt 
import plotly.express as px 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn
from sklearn.metrics import r2_score 
import joblib

### Importation des données preprocessed pour l'entrainement des modèles

In [3]:
df_prep = pd.read_csv("df_preprocessed.csv")
df_prep.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2

In [4]:
y = df_prep["price"]
X = df_prep.drop("price", axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

scaler = StandardScaler()

num =['area', 'bedrooms', 'bathrooms', 'stories', 'parking']
X_train[num] = scaler.fit_transform(X_train[num])
X_test[num] = scaler.transform(X_test[num])

In [6]:
### random forest 

from sklearn.ensemble import RandomForestRegressor
# entrainement 
rf2 = RandomForestRegressor()
rf2.fit(X_train, y_train)
 

 # Enregistre le modèle
joblib.dump(rf2, "model_reg_rf2")

['model_reg_rf2']

In [7]:
from sklearn.linear_model import LinearRegression

# Entraînement du modèle de régression linéaire
reg2 = LinearRegression()
reg2.fit(X_train, y_train)
joblib.dump(reg2, "model_reg_line2")

['model_reg_line2']

In [8]:
from sklearn.neighbors import KNeighborsRegressor

# Entraînement du modèle KNN
knn2 = KNeighborsRegressor()
knn2.fit(X_train, y_train)
joblib.dump(knn2, "model_reg_knn2")

['model_reg_knn2']